[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.11.0"
crispy-bootstrap4 = "==2025.6"
crispy-bootstrap5 = "==2025.6"
django = "==4.2.27"
django-crispy-forms = "==2.5"
pillow = "==11.3.0"
python-dotenv = "==1.2.1"
sqlparse = "==0.5.4"
typing-extensions = "==4.15.0"
tzdata = "==2025.2"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
